snippet % "Create a new executable Ruby line" bA
<% ${1:statement_to_execute} %>
endsnippet

snippet = "Create a new printable Rails line" bA
<%= ${1:statement_to_print} %>
endsnippet

snippet # "Create a new commentable Rails line" bA
<%# ${1:statement_to_print} %>
endsnippet
