snippet clg "Browser standar console output" b
console.log(${1:data});
endsnippet

snippet clt "Browser console output as table" b
console.table(${1:data});
endsnippet

snippet cli "Browser console output as info" b
console.info(${1:data});
endsnippet

snippet clw "Browser console output as warning" b
console.warn(${1:data});
endsnippet

snippet cle "Browser console output as error" b
console.error(${1:data});
endsnippet
